.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */




body{
  padding-left:3%;
  padding-right:3%;
  background-color:whitesmoke;
}

.header{
  background-image: url("./images/flowinglavabw.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  margin-bottom: 4%;
}

.header a{
  color: black;
  padding-bottom: 4%;
  font-style: italic;
}

.card{
  width: 45%;
  margin: 2%;
  display: inline-flex;
  border-radius: 0px;
}

.card-img-top{
  border-radius: 0px;
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

/*wrapper to maintain card image height */
.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 200%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.post-icon{
  width:500px;
  display: flex;
}

button{
  margin-top: 3%;
  width: 150px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-text{
  color:whitesmoke;
  background-color: rgb(77, 77, 77);
  padding: 1%;
  display: inline-flex;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height:110px;
  padding: 3%;
  display: inline-flex;
  
}
